@model IEnumerable<Test.Models.Class1>

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.string2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.int1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.booltry)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.string2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.int1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.booltry)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
